.Card {
  background: var(--color-background);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  padding: var(--space-16);

  &[data-scrollable="true"] {
    overflow-y: auto;
  }
}
