.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--space-12);
  min-height: 100vh;

  @media (min-width: 640px) {
    padding: var(--space-24);
  }
}

.appMain {
  padding-top: 70px; /* Account for fixed header height */
}
